.btnContainer {
  position: fixed;
  display: flex;
  flex-basis: flex-end;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  z-index: 1;
}

button {
  border: none;
  outline: none;
  padding: 10px 0;
  width: 110px;
  margin: 0 10px;
  background: #d04505;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 30px;
}