.hero {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #3b3838;
  font-size: 30px;
  font-family: Georgia, serif;
  margin-top: -100px;
  margin-bottom: 40px;
}