.cardContainer {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 3px solid #d04505;
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
  height: 50%;
}

.card:nth-child(2n - 6) {
  height: 75%;
  flex-basis: 200px;
  flex-grow: 1;
}

.card:nth-child(6n - 3) {
  height: 45%;
  flex-basis: 200px;
  flex-grow: 2;
}

.card:nth-child(2n - 1) {
  height: 60%;
  flex-basis: 80px;
  flex-grow: 3;
}