.CardContainer {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-flow: column wrap;
}

.card {
  border: 3px solid #d04505;
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
}

.card:nth-child(6n - 5) {
  height: 75%;
}

.card:nth-child(6n - 4) {
  height: 35%;
}

.card:nth-child(6n - 3) {
  height: 50%;
}

.card:nth-child(6n - 2) {
  height: 60%;
}

.card:nth-child(6n - 1) {
  height: 25%;
}

.card:nth-child(6n) {
  height: 75%;
}