.CardContainer {
  width: 90%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card {
  border: 3px solid #d04505;
  padding: 10px;
  margin: 5px;
  border-radius: 30px;
}

.card:nth-child(6n - 5) {
  height: 25%;
}

.card:nth-child(6n - 4) {
  height: 75%;
}

.card:nth-child(6n - 3) {
  height: 50%;
}

.card:nth-child(6n - 2) {
  height: 50%;
}

.card:nth-child(6n - 1) {
  height: 66.666%;
}

.card:nth-child(6n) {
  height: 33.333%;
}